<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    body{
        background-color: aqua;
        font-size: xx-large;
        font-style: italic;
        }
    input[type=text] {
        background-color: whitesmoke;
        color: royalblue;
        width: 30%;
        padding: 6px 10px;
        margin: 8px 0;
        box-sizing: border-box;    
    } 
    </style>
</head>
<body>
    <center>
        <h1>REGISTRATION FORM</h1>
    <form method="post">
        <label for="">username:</label>
        <input type="text" name="username"><br>
        <label for="">mobile:</label>
        <input type="text" name="mobile"><br>
        <label for="">email:</label>
        <input type="text" name="email"><br>
        <label>address:</label>
        <input type="text" name="address"><br>
        <label>password:</label>
        <input type="text" name="password"><br>
        <button>submit</button>
    </center>
    </form>
</body>
</html>