<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: aqua;
            font-size: xx-large;
            font-style: italic;
        }
    input[type=text] {
        background-color: whitesmoke;
        color: royalblue;
        width: 30%;
        padding: 6px 10px;
        margin: 8px 0;
        box-sizing: border-box;
    }
    </style>
</head>
<body>
    <form method="POST">
        <label for="">Title:</label>
        <input name="title" type="text" value="{{post[1]}}"><br>
        <label for="">Content:</label>
        <textarea name="content" rows="5">{{post[2]}}</textarea>
        <label for="">slug:</label>
        <input name="slug" type="text" value="{{post[3]}}"><br>
        <button>update post</button>
    </form>
</body>
</html>